{% extends 'base/main.html' %}
{% load static %}
{% block title %}
    Добавить запись
{% endblock %}
{% block content %}
    <link href="{% static 'css/sign.css' %}" rel="stylesheet">
    <form method="post" action="/record/new">
        {% csrf_token %}
        <label for="{{ form.title.auto_id }}">Заголовок</label>
        {{ form.title }}
        <label for="{{ form.text.auto_id }}">Текст</label>
        {{ form.text }}
        <button type="submit">Добавить</button>
    </form>
{% endblock %}

