body {
    font-family: Consolas, sans-serif;
}

.container {
    width: 40%;
    margin: auto;
    margin-top: 100px;
}

form {
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.10);
}

label, input {
    font-family: Consolas, sans-serif;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

button {
    margin-top: 10px;
    font-family: Consolas, sans-serif;
    font-size: 15px;
    padding: 5px;
    color: #552008;
    background-color: rgba(175, 65, 15, 0.38);
    border-radius: 5px;
    border-color: #552008;
}